- page_title 'some information ...'
.oneCol
  %h1
    About me
.oneCol
  %p
    Hello! My name is Adam Anlauf and I'm a professional web-developer
    and web-designer.
    %br
    depcore is my personal project on which I'll love to share with you my
    experience in what I just love to do since about 9 years.
    = image_tag 'me.jpg',:width=>200,:height=>200,:alt=>'Thats me, photo courtesy of my friend Karolina (website comming soon...)'
  %p
    My experience began way back in high school when i first "meet" HTML and
    computer programing (pascal, C). After a short while I've created my first web page which was a small and simple site using HTML and CSS 1,
    but the designing and coding grew on me since then.
  %p
    I've finished a technical university in Opole with a masters degree in networking and database
    oriented programming. My project was to build a Learning Management System.
  %p
    My skill's up till now are very good knowledge of PHP, (X)HTML, CSS (1,2,3), jQuery, SQL,
    and the language I fell in love with Ruby with it's frameworks
    Ruby on Rails and now Merb.
    %br
    Graphics software I've learned to use Photoshop, Illustrator right now
    I'm using the free and open source alternatives The GIMP and Inkscape.
  %p 
    My tools are a Dell XPS M1330 laptop, with Arch Linux on board. The GIMP, Inkscape, and KATE for my programming.
  %p
    So if you need a web page, web app or just some advice or a collaboration
    partner dont hesitate and contact me with an inquiry.